/* Los estilos de tu proyecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navbar*/
.navbar {
  margin: 0;
  background-color: white;
  border: 0 solid white;
  padding: 1.5em;
}
.nav-labcar {
  float: left;
}
/*modal */
.caja-img-login {
  display: flex;
  justify-content: space-around;
}
.caja-img-login img {
  width: 200px;
  height: 200px;
}
.caja-form {
  display: flex;
  justify-content: space-around;
}
.caja-log {
  width: 50%;
  height: 30vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0.5em;
  border: 1px solid grey;
  border-radius: 4px;
}
.user-login {
  width: 75%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
  border: 1px solid grey;
  border-radius: 4px;
}
.private-login {
  width: 75%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
  border: 1px solid grey;
  border-radius: 4px;
}
.boton-login {
  width: 40%;
  margin: 0 auto;
  background-color: orange;
}
.caja-log p {
  margin: 0 auto;
}
.caja-log p a {
  color: red;
}
.caja-log span {
  align-items: center;
  display: flex;
  margin: 0 7px;
}
.caja-log input {
  border: none;
  border-left: 1px solid grey;
}
.green {
  background: linear-gradient(to bottom right, white, grey);
}
/*imagen principal*/
.caja-flex {
  display: flex;
  justify-content: center;
}
.btn-black {
  background: black;
  color: white;
}
.btn-black:hover {
  color: yellow;
}
.hero {
  background-image: url("../assets/images/taxi.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0;

}
/*container de registrate*/
.registrate {
  background-color: #ffc107;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.white {
  color: white;
}
.view-mobile {
  display: flex;
  justify-content: flex-start;
}
.linea {
  border: 1px solid white;
  display: inline-block;
  width: 40%;
  margin: 3px 0;
}
.o-bien {
  display: inline-block;
}
/*modal registrate*/
.caja-formulario {
  display: flex;
  flex-direction: column;
}
.caja-formulario input {
  margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
}
.black {
  background-color: black;
  color: white;
}
.grey {
  background-color: #98999a;
  padding: 1em;
  width: 70%;
  margin: 0 auto;
}
.plomo {
  background-color: #e1e1e1;
}
.blue {
  background-color: #5bc0de;
  margin: 0.5em 0;
}
.border {
  border: none;
  padding: 0;
}
#nombre-apellido {
  display: inherit;
}
#nombre-apellido input{
  width: 12em;
  margin-left: 0.5em;
}
/*segunda seccion*/
.celular {
  background-color: #ffc107;
  width: 100%;
  padding: 2.5em 2em;
}
.caja-celular {
  outline: 1px solid white;
}
.textto-descarga {
  width: 40%;
  font-size: 1.6em;
  color: white;
}
.imagen-celular {
  width: 40%;
  display: inline-block;
  outline: 1px solid blue;
}
.cell {
  padding: 2.5em 3em;
}
/*tercera seccion*/
.image-tercera-seccion {
  background-image: url("../assets/images/conduce.jpg");
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0;
}
.conduce {
  height: 75vh;
  background-color: rgba( 0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 0 4em;
  justify-content: center;
}
.conduce:nth-child(1) {
  color: white;
  font-size: 14px;
  margin: 0;
}
.color{
  background-color:#ffc107;
}
/*modal-convierte en conductor*/
.caja-formulario select {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid grey;
  outline: none;
  border-radius: 5px;
}
/* cuarta seccion */
.caja-tarifa {
  background-color: #ffc107;
}
.mapa {
  outline: 1px solid white;
  margin: 2em 1em;
  width: 30%;
}
.mapa-img {
  width: 100%;
  height: 93%;
  margin: 0.9em auto;

}
.caja-texto-tarifa {
  font-size: 20px;
  margin: 2em 2em;
}
.caja-texto-tarifa:nth-child(1){
  color: white;
}
.caja-texto-tarifa div {
  margin: 1em 1em;
}
.boton {
  background: transparent;
  border: 1px solid white;
  color: white;
}
/* quinta seccion */
.pie-pagina {
  background-color: #333;
  color: white;
  height: 100vh;
  padding: 4em 4em;
}
.pie-pagina ul li{
  list-style: none;
  margin: 15px 15px;
  font-size: 16px;
}
.tag-footer {
  margin: 10px;
}
.caja-list-footer {
  display: flex;
  align-items: flex-end;

}

@media (max-width:768px) {
  .mapa {
    width: 90%;
  }
  .caja-texto-tarifa {
    margin: 0 0;
  }
  .caja-list-footer {
    display: inline-block;
  }
  .pie-pagina {
    padding: 10px 10px;
  }
}
